[Unit]
Description=frontend
After=docker.service
Requires=docker.service,broker.service

[Service]
EnvironmentFile=/etc/environment


TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill frontend
ExecStartPre=-/usr/bin/docker rm frontend
ExecStartPre=/usr/bin/docker pull nherbaut/adapted-video-frontend
ExecStartPre=/usr/bin/etcdctl set /services/viotech/frontend/port 8080
ExecStartPre=/usr/bin/etcdctl set /services/viotech/frontend/host ${COREOS_PRIVATE_IPV4}
ExecStart=/bin/bash -c ' /usr/bin/docker run --name frontend -p 8080:8080 \
 -e AMQP_PORT_5672_TCP_ADDR=`etcdctl get /services/viotech/broker/host`\
 -e AMQP_PORT_5672_TCP_PORT=`etcdctl get /services/viotech/broker/port`\
 -e STREAMER_PORT_8081_TCP_ADDR=`etcdctl get /services/viotech/streamer/host`\
 -e STREAMER_PORT_8081_TCP_PORT=`etcdctl get /services/viotech/streamer/port`\
 nherbaut/adapted-video-frontend'

ExecStop=/usr/bin/docker stop frontend
